<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffEMAp</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <header>
        <nav>
            <ul> <!-- Menu de navegação -->
                <li><a href="index.html">Sobre</a></li>
                <li><a href="register.html">Criar conta</a></li>
                <li><a href="entrar.html">Entrar</a></li>
            </ul>
        </nav>
        <h1>CoffEMAp</h1>

    </header>

    <section id="sobre"> <!-- Seção de informações sobre o projeto -->
        <h2>Sobre Nós</h2> 
        <p>Está na FGV e sentiu vontade de fazer um lanchinho? e segue falando sobre como funciona.</p>
    </section>

    <section id="cta"> <!-- Seção para criação de conta -->
        <h2>Pronto para começar?</h2>
        <a href="criar_conta.html" class="cta-btn">Criar conta</a>
    </section>

    <footer id="criarconta">
        <p>&copy; coffemap</p> <!-- Rodapé da página -->
    </footer>

</body>
</html>
