<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffEMAp</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <h1>COFFEMAP</h1>
            <div class="header-options">
                <div class="language-buttons">
                    <button class="active">PT</button>
                    <button>EN</button>
                    <button>ES</button>
                </div>
    
            </div>
        </div>
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="index.html" class="active">Início</a></li>
                <li><a href="register.html" >Criar conta</a></li>
                <li><a href="login.html">Entrar</a></li>
            </ul>
        </nav>
    </header>

    <section id="sobre"> <!-- Seção de informações sobre o projeto -->
        <h2>Sobre Nós</h2> 
        <p>Está na FGV e sentiu vontade de fazer um lanchinho? e segue falando sobre como funciona.</p>
    </section>

    <section id="cta"> <!-- Seção para criação de conta -->
        <h2>Pronto para começar?</h2>
        <a href="criar_conta.html" class="cta-btn">Criar conta</a>
    </section>

    <footer id="criarconta">
        <p>&copy; coffemap</p> <!-- Rodapé da página -->
    </footer>

</body>
</html>
