{% extends "base.html" %}

{% block title %}Login - CoffEMAp{% endblock %}
{% block active_login %}active{% endblock %}

{% block content %}

    <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
      <form method="POST" action="/login">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" required><br><br>
          <button type="submit" value="Login">Entrar</button>
      </form>
    </div>
    {% endblock %}
