{% extends "base.html" %}

{% block title %}Products - CoffEMAp{% endblock %}

{% block content %}
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="/">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <h1>Produtos na máquina de vendas {{ vending_machine.get_id() }}</h1>
    <p>{{ vending_machine.get_location() }}</p>
    <div class="container">
        {% for product, quantity in machine_products.items() %}
        <div class="product-item">
            <h3>
                <a href="{{ url_for('product_detail_page', location=vending_machine.get_location(), product_name=product.get_name()) }}">
                    {{ product.get_name() }}
                </a>
            </h3>
            <p>Quantity: {{ quantity[0] }}</p>
            <p><strong>R$ {{ product.get_price() }}</strong></p>
        </div>
        {% endfor %}
    </div>
    <button onclick="window.location.href=`{{ url_for('vending_machines_page') }}`">Voltar para as máquinas de vendas</button>
{% endblock %}
