{% extends "base.html" %}

{% block title %}Products user - CoffEMAp{% endblock %}

{% block content %}
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="/">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <h1>Produtos na máquina de vendas {{ vending_machine.get_id() }}</h1>
    <p>{{ vending_machine.get_location() }}</p>
    <div class="container">
        {% for product, quantity in machine_products.items() %}
        <div class="product-item">
            <h3>
                <a href="{{ url_for('product_detail_page', location=vending_machine.get_location(), product_name=product.get_name()) }}">
                    {{ product.get_name() }}
                </a>
            </h3>
            <p><strong>R$ {{ product.get_price() }}</strong></p>
        </div>
        <div>
            <form action="{{ url_for('products_page', location=vending_machine.get_location(), product_name=product.get_name()) }}" method="POST">
                <!-- Hidden inputs to pass product information -->
                <input type="hidden" name="product_name" value="{{ product.get_name() }}">
                <input type="hidden" name="product_price" value="{{ product.get_price() }}">
                <input type="hidden" name="machine_id" value="{{ vending_machine.get_id() }}">
                <input type="hidden" name="product_id" value="{{ quantity[1] }}">
                <!-- Buy button -->
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <button onclick="window.location.href=`{{ url_for('vending_machines_page') }}`">Voltar para as máquinas de vendas</button>
{% endblock %}
