<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <title>Products - {{ vending_machine.get_id() }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <h1>COFFEMAP</h1>
            <div class="header-options">
                <div class="language-buttons">
                    <button class="active">PT</button>
                    <button>EN</button>
                    <button>ES</button>
                </div>
    
            </div>
        </div>
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="/">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <h1>Produtos na máquina de vendas {{ vending_machine.get_id() }}</h1>
    <p>{{ vending_machine.get_location() }}</p>
    <div class="container">
        {% for product, quantity in machine_products.items() %}
        <div class="product-item">
            <h3>
                <a href="{{ url_for('product_detail_page', location=vending_machine.get_location(), product_name=product.get_name()) }}">
                    {{ product.get_name() }}
                </a>
            </h3>
            <p>Quantity: {{ quantity[0] }}</p>
            <p><strong>R$ {{ product.get_price() }}</strong></p>
        </div>
        {% endfor %}
    </div>
    <button onclick="window.location.href=`{{ url_for('vending_machines_page') }}`">Voltar para as máquinas de vendas</button>
    <footer>
        <p>&copy;coffemap</p> <!-- Rodapé da página -->
    </footer>
</body>
</html>
