{% extends "base.html" %}

{% block title %}Report Problem - CoffEMAp{% endblock %}

{% block content %}

    <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
      <form method="POST" action="/report-problem">
          <label for="tipo_problema">Tipo de problema:</label>
          <select id="tipo_problema" name="tipo_problema" required>
              <option value="Vending Machine">Máquina de vendas</option>
              <option value="Rede Social">Rede Social</option>
          </select><br><br>

          <label for="descricao">Descrição:</label><br>
          <textarea id="descricao" name="descricao" rows="4" cols="50" required></textarea><br><br>

          <label for="id_maquina">ID da máquina (Opcional):</label>
          <input type="number" id="id_maquina" name="id_maquina"><br><br>

          <button type="submit" value="Submit Report" href="report_problem">Enviar</button>
    </div>
    </form>
{% endblock %}
