{% extends "base.html" %}

{% block title %}Reports - CoffEMAp{% endblock %}

{% block content %}
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="/">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <h1>Problemas reportados</h1>
    <div class="container2">
        {% for pr in problem_reports %}
        <div class="item">
            <h3>{{ pr.get_type() }}</h3>
            <p>{{ pr.get_date_reported()}}</p>
            <p>{{ pr.get_status() }}</p>
            <button onclick="window.location.href=`{{ url_for('report_page', report_id=pr.get_id()) }}`">Ver detalhes</button>
        </div>
        {% endfor %}
    </div>
{% endblock %}
