{% extends "base.html" %}

{% block title %}User Page - CoffEMAp{% endblock %}

{% block content %}
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="report_problem">Reportar um problema</a></li>
            </ul>
        </nav>
    </header>
    <h1>USER Pages</h1>
    <div class="container2">
        <div class="item">
            <button onclick="window.location.href=`{{ url_for('report_problem') }}`">Reportar um problema</button>
        </div>
    </div>
    <h1>ADMIN Pages</h1>
    <div class="container2">
        <div class="item">
            <button onclick="window.location.href=`{{ url_for('vending_machines_page') }}`">Ver estoques de máquinas de vendas</button>
        </div>
        <div class="item">
            <button onclick="window.location.href=`{{ url_for('reports_page') }}`">Ver todos</button>
        </div>
    </div>
{% endblock %}