<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <title>ADMIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <h1>COFFEMAP</h1>
            <div class="header-options">
                <div class="language-buttons">
                    <a href="/logout" class="btn" style="text-decoration:none; padding:10px 20px; border-radius:5px; background-color:white; color:black;">Logout</a>                   
                    <button class="active">PT</button>
                    <button>EN</button>
                    <button>ES</button>
                </div>
    
            </div>
        </div>
        <nav class="navbar">

        </nav>
    </header>
    <h1>USER Pages</h1>
    <div class="container2">
        <div class="item">
            <button onclick="window.location.href=`{{ url_for('report_problem') }}`">Reportar um problema</button>
        </div>
    </div>
    <h1>ADMIN Pages</h1>
    <div class="container2">
        <div class="item">
            <button onclick="window.location.href=`{{ url_for('vending_machines_page') }}`">Ver estoques de máquinas de vendas</button>
        </div>
        <div class="item">
            <button onclick="window.location.href=`{{ url_for('reports_page') }}`">Ver todos</button>
        </div>
    </div>
    <footer>
        <p>&copy;coffemap</p> <!-- Rodapé da página -->
    </footer>
</body>
</html>