<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <title>Vending Machines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <h1>COFFEMAP</h1>
            <div class="header-options">
                <div class="language-buttons">
                    <button class="active">PT</button>
                    <button>EN</button>
                    <button>ES</button>
                </div>
    
            </div>
        </div>
        <nav class="navbar">
            <ul> <!-- Menu de navegação -->
                <li><a href="admin_page">Voltar</a></li>
            </ul>
        </nav>
    </header>
    <h1>Avaliar máquinas de venda</h1>
    <div class="container">
        {% for vm in vending_machines %}
        <div class="item">
            <h3>Máquina de venda {{ vm.get_id() }}</h3>
            <p>{{ vm.get_location() }}</p>
            <button onclick="window.location.href=`{{ url_for('products_page', location=vm.get_location()) }}`">Ver produtos</button>
        </div>
        {% endfor %}
    </div>
    <footer>
        <p>&copy;coffemap</p> <!-- Rodapé da página -->
    </footer>
</body>
</html>